@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@layer utilities {
  /* utility for centering vertically*/
  .absolute-center-y {
    @apply absolute;
    @apply top-1/2;
    @apply transform;
    @apply -translate-y-1/2;
  }

  .absolute-center-x {
    @apply absolute;
    @apply left-1/2;
    @apply transform;
    @apply -translate-x-1/2;
  }
}